<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="rosbot_xl_with_rgbd">

  <!-- Model oficial -->
  <xacro:include filename="$(find rosbot_description)/urdf/rosbot_xl.urdf.xacro"/>

  <!-- Add-on sensors -->
  <xacro:include filename="$(find my_rosbot_bringup)/urdf/addons/rgbd.gazebo.xacro"/>

</robot>
